@import url('https://fonts.googleapis.com/css2?family=Flavors&family=Lobster&family=Satisfy&display=swap');
*{
  box-sizing: border-box;
}
body{
  font-family: serif;
  padding: 0;
  background-color: #F5FFFA;
  background-size: auto;
}
p{
  line-height: 1.5em;
  text-indent: 2em;
  text-align: justify;
}
header h1 {
  font-family: 'Flavors';
}
main{
  padding: 20px;
  overflow: auto;
}
img{
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
iframe{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
main li{
  color: #4169E1;
  font-size: 30px;
  text-shadow: 3px 3px 3px grey;
}
main a{
  font-weight: 400;
  text-decoration: none;
  color: #4169E1;
}
main a:hover{
  font-weight: bold;
  color: 	#90EE90;
}
h3{
  font-family: 'Lobster';
  font-size: 25px;
  text-align: center;
  border-right: 7px solid;
  padding: 20px;
  border-color: #F5DEB3;
  text-shadow: 3px 3px 1px #FFD700;
}
.card{
  box-shadow: 0 0px 5px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin-top: 10px;
  background-color: #FFFFF0;
  background-size: auto;
}
.jumbotron{
  font-size: 22px;
  padding: 28px;
  text-align: center;
  background-color: tomato;
  color: #FFFACD;
  text-shadow: 5px 5px 0px #708090;
}
header{
  display: inline;
}
nav{
  background-color:	#7B68EE;
  padding: 10px;
  position: sticky;
  top: 0;
}
nav a {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #FFFACD;
}
nav a:hover{
  font-weight: bold;
  color: 	#90EE90;
}
nav li {
  display: inline;
  list-style-type: none;
  margin-right: 20px;
}
#content{
  float: left;
  width: 75%;
}
.profil header{
  font-family: 'Lobster';
  font-size: 20px;
  text-align: center;
  text-shadow: 3px 3px 1px #F0E68C;
}
.profil img{
  width: 200px;
}
aside{
  float: right;
  width: 25%;
  padding-left: 20px;
  text-align: center;
}
.atas{
  margin: 5px;
  text-align: right;
}
.atas a{
  color: #E0FFFF;
  text-decoration: none;
  font-weight: bold;
}
.atas a:hover{
  color: 	#DA70D6;
  font-style: italic;
}
footer {
  padding: 5px;
  color: #FFFACD;
  background-color: #7B68EE;
  font-weight: bold;
}
@media screen and (max-width:1000px) {
  #content,
  aside{
    width: 100%;
    padding: 0;
  }
}
