body{
  background-image: url('../img/bgp.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #14274e;
  font-family: sans-serif;
}

a:link, a:visited{
  color: #ffe05d;
  text-decoration: none;
}

a:hover{
  color: #008891;
  font-weight: bold;
  text-decoration: underline;
}

.heading{
  text-align: center;
  border: 1px solid;
  padding: 15px;
  border-radius: 10px;
}


.link{
  list-style-type: none;
}

.linkback{
  text-align: right;
  background-color: #835858;
  padding: 10px;
}
nav{
  background-color: #835858;
  color: #fff;
  padding: 10px;
}

.menu{
  width: 300px;
  background-color: #835858;
  margin: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  text-align: center;
}
.gambar-resep{
  width: 350px;
}
